@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Syne', sans-serif;
}

.header {
  color: #FFFFFF;
background: #232323;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

.custom-img {
  background-image: url('/assets/thcL10.jpg');
}

.svg-icon {
  width: 2em;
  height: 2em;
  
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #14C600
}

.svg-icon circle {
  stroke: #14C600;
  strokeWidth: 1;
}